<div class="accordion-inner component-inner" role="region" aria-label="{{_globals._components._accordion.ariaRegion}}">
    {{> component this}}
    <div class="accordion-widget component-widget">
        
        
        
        
        <div class="accordion-item{{#if _classes}} {{_classes}}{{/if}}" data-index="{{_index}}">
            <button class="base accordion-item-title{{#if _isVisited}} visited{{/if}}" aria-expanded="false" aria-label="{{{a11y_normalize title}}}">
                <div class="accordion-item-title-inner">
                    <div class="accordion-item-title-icon icon icon-plus h5"></div>
                    Por Área
                </div>
            </button>
            <div class="accordion-item-body">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        
                    </div>
                    
                    <div class="accordion-item-graphic">
                        
                    </div>
                   
                        <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
                    
                    
                </div>
            </div>
        </div>
       
       <div class="accordion-item{{#if _classes}} {{_classes}}{{/if}}" data-index="{{_index}}">
            <button class="base accordion-item-title{{#if _isVisited}} visited{{/if}}" aria-expanded="false" aria-label="{{{a11y_normalize title}}}">
                <div class="accordion-item-title-inner">
                    <div class="accordion-item-title-icon icon icon-plus h5"></div>
                    Por Negocio
                </div>
            </button>
            <div class="accordion-item-body">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        
                    </div>
                    
                    <div class="accordion-item-graphic">
                        
                    </div>
                   
                        <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
                    
                    
                </div>
            </div>
        </div>
       
       
       
       
       <div class="accordion-item{{#if _classes}} {{_classes}}{{/if}}" data-index="{{_index}}">
            <button class="base accordion-item-title{{#if _isVisited}} visited{{/if}}" aria-expanded="false" aria-label="{{{a11y_normalize title}}}">
                <div class="accordion-item-title-inner">
                    <div class="accordion-item-title-icon icon icon-plus h5"></div>
                    Por meses
                </div>
            </button>
            <div class="accordion-item-body">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        
                    </div>
                    
                    <div class="accordion-item-graphic">
                        
                    </div>
                   
                        <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
                    
                    
                </div>
            </div>
        </div>
       
       
       
       
       <div class="accordion-item{{#if _classes}} {{_classes}}{{/if}}" data-index="{{_index}}">
            <button class="base accordion-item-title{{#if _isVisited}} visited{{/if}}" aria-expanded="false" aria-label="{{{a11y_normalize title}}}">
                <div class="accordion-item-title-inner">
                    <div class="accordion-item-title-icon icon icon-plus h5"></div>
                    Por Publicidad
                </div>
            </button>
            <div class="accordion-item-body">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        
                    </div>
                    
                    <div class="accordion-item-graphic">
                        
                    </div>
                   
                        <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
                    
                    
                </div>
            </div>
        </div>
       
    </div>
</div>